.background {
  width: 2000px;
  height: 2000px;

  background-color: aqua;
  /* 배경색넣기 */
  background-image: url("다운로드 (1).jpg");
  /* 배경이미지넣기 */
  background-size: cover;
  /* 배경 이미지의 크기 지정, 이미지가 다 보이도록 하되 최대크기 비율 맞춤 */
  background-size: 1000px 1000px;
  background-size: contain;
  /* 배경 이미지 크기 지정 최대크기, 이미지 짤릴 수 있음. */
  background-position: 10px 10px;

  background-position: center;
  /* 배경 이미지 위치 가운데 맞춤 */
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-repeat: no-repeat;
  /* 반복여부 */
}
