* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
   font-weight: 700;
  }
  
  body{
    background-image: url("다운로드 (1).jpg");
  }
  
  form{
      height: fit-content;
      width: auto;
      background-repeat : no-repeat;
      background-size : 100% 100%;
      background-image: url("다운로드 (1).jpg");
     
  }
  
  
  .Tlabel {
    font-size: 25px;
  }
  div {
    margin-bottom: 50px;
    
  }
  
  input{
      border-top: 0; border-left: 0; border-right: 0"
  }